<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset('admin/img/apple-icon.png')}}" />
    <link rel="icon" type="image/png" href="{{asset('admin/img/favicon.png')}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Material Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     
    <link href="../admin/css/bootstrap.min.css" rel="stylesheet" />-->
    
    <link href="{{asset('admin/css/bootstrap.min.css')}}" rel="stylesheet" />
    <!--  Material Dashboard CSS -->  
    <link href="{{asset('admin/css/material-dashboard.css?v=1.2.0')}}" rel="stylesheet" /> 
    <link href="{{asset('admin/css/form.css')}}" rel="stylesheet" />
    <link href="{{asset('admin/css/single-product.css')}}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{asset('admin/css/demo.css')}}" rel="stylesheet" />
    
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    	<link type="text/css" rel="stylesheet" href={{asset("css/style.css" )}} />
    
</head>

<body>


    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="{{asset('admin/img/sidebar-1.jpg')}}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="/dashboard" class="simple-text">
                    Dashboard Eshop
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/dashboard">
                            <i class="material-icons">dashboard</i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/store">
                            <i class="material-icons">business</i>
                            <p>Stock Entrepôt</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/eshop">
                            <i class="material-icons">content_paste</i>
                            <p>Stock Magasin</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/product/add">
                            <i class="material-icons">create</i>
                            <p>Création Produit</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/stock-alert">
                            <i class="material-icons text-gray">announcement</i>
                            <p>Alerte Stock</p>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="material-icons text-gray">web</i>
                            <p>Eshop</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
        <!-- Fin de navigation barre du haut-->
        
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Eshop Dashboard </a>
                    </div>

                    
                </div>
            </nav>
            
			 <!-- Fin de navigation barre du haut-->
			 
            <div class="content">
            
            
            

                <div class="container-fluid">
                 <div class="row">
                 
                {% block body %}{% endblock %}
                
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<!--   Core JS Files   -->


<script src="{{asset('admin/js/jquery-3.2.1.min.js')}}" type="text/javascript"></script>
<script src="{{asset('admin/js/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{asset('admin/js/material.min.js')}}" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="{{ asset('admin/js/script-admin.js') }}"></script>

<!--  Charts Plugin 
<script src="{{asset('admin/js/chartist.min.js')}}"></script>-->
<!--  Dynamic Elements plugin -->
<script src="{{asset('admin/js/arrive.min.js')}}"></script>
<!--  PerfectScrollbar Library -->
<script src="{{asset('admin/js/perfect-scrollbar.jquery.min.js')}}"></script>
<!--  Notifications Plugin    -->
<script src="{{asset('admin/js/bootstrap-notify.js')}}"></script>

<script src="{{asset('admin/js/material-dashboard.js?v=1.2.0')}}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{{asset('admin/js/demo.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

</html>