{% extends "admin/dashboard.html.twig" %}
{% block body %}
					<div class="col-md-8">
                            <div class="card card-plain">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Stock du Magasin</h4>
                                    <p class="category">Here is a subtitle for this table</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantité en Magasin</th>
                                            <th>Category</th>
                                            <th>Select</th>
                                        </thead>
                                        <tbody>
                                        
                                        {% for item in stock %}
                                            <tr>
                                            	<td>{{ item.product.id}}</td>
                                            	<td>{{ item.product.name}}</td>
                                            	<td>{{ item.product.price }}</td>
                                                <td><b>{{ item.eshopquantity }}</b></td>
                                                <td>{{ item.product.category }}</td>
                                                <td><input name="select-product" type="radio"</td>
                                            </tr>
                                         {% endfor %} 
                                           
                                         </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        
                        		<div class="product product-single">
									<div class="product-thumb">
											<div class="product-label">
                		                        <span>NEW</span>
                								<span class="sale">SOLDE</span>
											</div>
											<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
									
										<img src="{{asset('img/product-67.jpg')}}" alt="">
								
									</div>
									<div class="product-body">
										<h3 class="product-price">$ PRIX<del class="product-old-price">$ ANCIEN PRIX</del></h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name"><a href="/product/1">Nom du Produit</a></h2>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
											<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
										</div>
									</div>
								</div>
                        
                        </div>
{% endblock %}