{% extends "admin/base.html.twig" %}
{% block body %}
					<div class="col-md-8">
                            <div class="card card-plain">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Stock de l'Entrepôt</h4>
                                </div>
                                <div class="card-content table-responsive">
                                    <table id="example" class="table table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>Picture</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th class="text-center">Quantité Entrepôt</th>
                                            <th>Category</th>
                                            <th>Select</th>
                                        </thead>
                                        <tbody>
                                        
                                        {% for item in stock %}
                                            <tr>
                                            	<td>{{ item.product.id}}</td>
                                            	<td width="5%"><img src="{{ asset('img/' ~ item.product.image.url )}}"></td>
                                            	<td><a href="/dashboard/product/{{ item.product.id }}">{{ item.product.name}}</a></td>
                                            	<td>{{ item.product.price }}</td>
                                                <td class="text-center"><b>{{ item.storequantity }}</b></td>
                                                <td>{{ item.product.category }}</td>
                                                <td><input name="select-product" type="radio" value="{{ item.product.id}}" onclick="displayProduct(this.value);"></td>
                                            </tr>
                                         {% endfor %} 
                                           
                                         </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        
                        <div id="picture-product">
                        
                        </div>
                       
                        
                        </div>
                       
            
{% endblock %}